*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 body{
    background-color: rgba(233, 115, 115, 0.618);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
 }
 .container{
    width: 100%;
    max-width: 900px;
 }
 .profile-box{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    background-color: cornflowerblue;
    border-radius: 10px;
    box-shadow: 0 0 10px crimson;
    overflow: hidden;
    align-items: stretch;
 }
 .left-section{
   flex: 1;
   width: 35%;
   background:linear-gradient(135deg,black,white);
   color: chocolate;
   padding:20px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .profile-img img{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border:3px solid rgb(237, 222, 222);
 }
 .role{
   font-style: italic;
   margin-bottom: 15px;
   margin-top: 5px;
 }
 h3{
   margin-top: 20px;
 }
 .social-media{
   display: inline-block;
   color: rgb(106, 156, 199);
   margin: 5px;
   font-size: 14px;

 }
 .right-section{
   width: 65%;
   padding: 20px;
 }

p{
   margin-bottom: 10px;
}
.skills{
   margin-bottom: 15px;
}
.progress{
   height: 12px;
   width: 100%;
   background: rgb(131, 170, 230);
   border-radius: 5px;
   overflow: hidden;
}
.progress div{
   height: 100%;
   background: rgb(119, 80, 224);
}
ul{
   padding left: 20px;
}
li{
   margin-bottom: 5px;
}
/*responsive design*/
@media(max-width:768){
   .profile-box{
      flex-direction: column;
   }
   .left-section, .right-section{
      max-width: 100%;
      width: 100%;
      text-align: center;
   }
}


